* { 

    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(70, 70, 70);
    font-family: 'Microsoft JhengHei', sans-serif;
    width: 1200px;
    margin:0 auto;
    padding: 0 ;    
}

h1 {
    text-align: center; 
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    
    font-size: 26px; 
    background-color: rgb(224, 243, 255);
}

p{
    max-width: 500px;
}
.content {

    display: flex;
    justify-content: space-evenly;
}

section {
    background-color: #ffffff;
    padding-top: 70px;
    height: 620px;
}

.content h2{
    margin-left: 0px;
    padding: 10px;
}

.content p {
    margin-left: 25px;
    max-width: 25vw;
}

li{
    max-width: 25vw;
    margin-left: 35px;
}

li a{
    color: rgb(83, 83, 83);
}

body a{
    text-decoration: none;
}

h3{
    font-size: 25px;
    padding: 10px;
}

img {
    width: 25vw;

}

footer {
    display: flex;
    justify-content: center;
    background-color: #0f637c; 
    padding: 30px;
}


footer a{
    color: white;

}




@media screen and (max-width:1200px) {
    body {
        width: 1000px;
        margin:0 auto;
    }

}

@media screen and (max-width:900px) {
    body {
        width: 700px;
        margin:0 auto;
    }

    section {

        padding-bottom: 40vh;
        
    }
    li {
        width: 33%;
    }
}

@media screen and (max-width:700px) {
    body {
        width: 100%;
        margin:0 auto;
    }
    li {
        width: 33%;
    }

    section {

        padding-bottom: 30vh;

    }
}

@media screen and (max-width:600px) {
    body {
            width: 100%;
            margin:0 auto;
    }
    li {
            width: 33%;
    }
    
    section {
    
            padding-bottom: 30vh;
    
    }
    li a{
            font-size:17px;
    }
}