* { 

    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(70, 70, 70);
    font-family: 'Microsoft JhengHei', sans-serif;
    width: 1200px;
    margin:0 auto;
    padding: 0 ;    
}

h1 {
    text-align: center; 
    padding: 50px 0px;
    /* padding-bottom: 50px; */
    font-size: 26px; 
    background-color: rgb(224, 243, 255);
}


section {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    padding-top: 3vh;
    height: 660px;
}

.content h2{
    margin-left: 0px;
    padding: 10px;
}

.content p {
    margin-left: 25px;
    max-width: 470px;
}

.image li{
    max-width: 470px;
    /* max-width: 25vw; */
    margin-left: 35px;
}

img {
    width: 450px;

}

footer a {
    text-decoration: none;
}


h3{
    font-size: 25px;
    padding: 10px;
}


footer {
    display: flex;
    justify-content: center;
    background-color: #0f637c; 
    padding: 30px;
}

footer a{
    color: white;

}

/* 響應式設計 */

@media screen and (max-width:1200px) {
    body {
        width: 1000px;
    }
    .content p {
        margin-left: 25px;
        max-width: 420px;
    }
    .image li{
        max-width: 420px;
    }

    img {
        width: 420px;
    }

}

/* @media screen and (max-width:1000px) {
    body {
        width: 800px;
    }
    .content p {
        max-width: 360px;
    }
    .image li{
        max-width: 360px;
        margin-left: 25px;
    }
    img {
        width: 360px;
    }

} */

@media screen and (max-width:800px) {
    body {
        width: 700px;

    }
    section{
        flex-direction: column;
        justify-content: flex-start;
        height: 1000px;
        padding:0;
    }
    .content h2{
        margin-left: 5%;
    }
    .content p {
        margin-left:10%;
        max-width: 550px;
    }
    .image{
        max-width: 600px;
    }
    .image h3, img{
        margin-left:5%;

    }
    .image li{
        margin-left: 15%;
    }

}

@media screen and (max-width:700px) {
    body {
            width: 100%;

    }
}

    /* .content h2{
        margin-left: 15% ;
    }
    .content p {
        margin-left:15%;
    
        max-width: 500px;
    }
    .image h3, img{
        margin-left:5%;

    }
    .image li{
        margin-left: 15%;
    }
